<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PNChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PNChartSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PNCharts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C29599E1D0D6CCA0086E6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C2959B41D0D6CCA0086E6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C2959BF1D0D6CCA0086E6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6878CD1D100DB800913FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974A271D2D752600719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974A301D2D752700719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974AA81D2E258B00719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974AB21D2E258B00719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974B531D2E361900719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974B5C1D2E361900719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974B8C1D2E3EC200719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974B951D2E3EC200719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974BF71D2E3F8400719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C974C001D2E3F8400719946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
